<div class="container__big-card">
  <!-- mockado -->
  <div class="big-card__picture">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTglIkMR5PypSG_CCzxdQ1fGBwZsX3zk-RYn8ZVAyTbr7-XHHjLZJTN97_XZaOD7XXMTxA&usqp=CAU" alt="" height="200px">
  </div>
  <div class="big-card__title">
    <h3><a href="#">Turne de trixie lulamoon é um sucesso na arabia seladaTurne de trixie lulamoon é um sucesso na arabia selada</a></h3>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nisi a illo dolores, maxime dicta nostrum placeat animi mollitia iste consequuntur ab praesentium voluptatibus beatae eum soluta, corporis eaque esse.</p>
  </div>
</div>
