.container__content {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.content__cover img {
  border: 5px #DFDFFF  solid;
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 100%;
  height: 320px;
}
.total__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__title h1{
  margin-top: 10px;
}
.total__content p, h1{
  background-color: black;
  color: rgb(172, 170, 170);
  padding: 5px;
  border: 2px #DFDFFF  solid;
  border-radius: 10px;
}
.content__description {
  margin: 10px 0;
 max-width: 900px;
}
.volts{
  display: block;
  color:#E7dd6B;
  text-align: center;
}
.volts:hover{
  color:#EBFD89;
}

